In [1]:
import pandas as pd
import pandas_profiling

### Preparing data

In [2]:
# This returns the list of dataframes
url = "https://docs.google.com/spreadsheets/u/0/d/1s6qOj_YwK7RRT_2iQJktnGdqR7vuoQJ8kfCr1x2g2d4/htmlview#"
complete_data_list = pd.read_html(url,header=1, index_col=0)

In [3]:
df1 , df2 , df3 , df4 = complete_data_list

In [40]:
df1.reset_index(drop=True , inplace=True)
df2.reset_index(drop=True , inplace=True)
df3.reset_index(drop=True , inplace=True)
df4.reset_index(drop=True , inplace=True);

In [41]:
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)

(103, 2)
(7513, 2)
(217, 6)
(151, 1)

In [42]:
df1.head()

,Statement,Keywords
0,:dizzy::sunflower::herb: You might not see it ...,amazondotin amazonfashion amazoninfluencer bek...
1,Yes You heard it right... You can have paratha...,awifesperspective
2,Those were the days.... No Corona No masks.......,awifesperspective
3,Agree??It happens to me every week... What abo...,awifesperspective
4,:white_medium_star::upside-down_face::white_me...,bowtieandlipsticks covid19 gocoronago healthti...

In [43]:
df2.head()

          Primary city            Secondary city
0   New Delhi,DL,India                       NCR
1    Mumbai, MH, India                    Mumbai
2      Mumbai,MH,India             Ayatana Coorg
3   New Delhi,DL,India             Chandni Chowk
4  Vadodara, GJ, India  Vadodara, Gujarat, India

In [44]:
df2.drop('Unnamed: 3' , axis=1 , inplace=True)

KeyError: "['Unnamed: 3'] not found in axis"

In [50]:
df2.dropna(inplace=True)

In [52]:
df2.sample(20)

                   Primary city              Secondary city
505           Mumbai, MH, India                      Mumbai
1849      St Andrews Auditorium       St Andrews Auditorium
1676         Kolkata, WB, India   JW Marriott Hotel Kolkata
1842          Mumbai, MH, India                      Mumbai
788   SNBP International School   SNBP International School
2288           ProSport Fitness            ProSport Fitness
247         Chandigarh,PB,India                  Chandigarh
635           Mumbai, MH, India                 Navi Mumbai
2152           Noida, UP, India                       Noida
1680           Delhi, DL, India       Taj Palace, New Delhi
684        Bengaluru, KA, India                   BENGALURU
719         Chandigarh,PB,India                  Chandigarh
794            Himachal Pradesh            Himachal Pradesh
1851           Thikse Monastery            Thikse Monastery
1380          Mumbai, MH, India  Mumbai, Maharashtra, India
335          Faridabad,HR,India                   Faridabad
1193       Bengaluru, KA, India            Bangalore, India
27              Mumbai,MH,India                      Mumbai
322            Lucknow,UP,India                     Lucknow
599            Delhi, DL, India                   New Delhi