# Step 1 :- DATAPREPROCESSING

### Importing necessary libraries

In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder , OneHotEncoder 
from sklearn.impute import SimpleImputer

In [2]:
# from comet_ml import Experiment
# experiment = Experiment(api_key='Dz2W3DAahv0OvSAERUfhA5b7I')

### Importing of data

In [3]:
df = pd.read_csv('Data.csv')
print('first 5 rows in data (df)')
print(df.head() , end='\n\n')
print('Statics of the data')
print(df.describe() , end='\n\n')
print('Describing the data')
print(df.info() ,end='\n\n')
print('Presenting the num values in data')
print(df.isnull().sum() ,end='\n\n')
print('Telling us is there is null value in the data or not')
print(df.isnull().values.any() , end='\n\n')
print('Giving the sum of null values')
print(df.isnull().sum().sum())

first 5 rows in data (df)
   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

Statics of the data
             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

Describing the data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes
None

Presenting the num values in data
Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

Telling us is there is null value in the data or not
True

Giving the sum of null values
2

In [4]:
# creating a list 
X1 = df.iloc[: , [0,1,2]].values
y1 = df.iloc[: , 3].values

# sends the data in variable
X = df.drop('Purchased' , axis = 1)
y = df.Purchased

In [5]:
print(X1)
print('\n\n\n')
print(X.head())

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]




   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN

### MISSING VALUES

In [6]:
imputer = SimpleImputer(missing_values=np.nan , strategy='mean' )
imputer = imputer.fit(X1[:, 1:3])
X1[:,1:3] = imputer.transform(X1[:,1:3])

In [7]:
X.select_dtypes(exclude='object').mean()

Age          38.777778
Salary    63777.777778
dtype: float64

In [8]:
# impute = SimpleImputer(missing_values=np.nan , strategy='mean')
# impute = impute.fit(X.select_dtypes(exclude='object'))
# X[:1:3] = impute.transform(X.select_dtypes(exclude='object'))
X.Age.fillna(value=np.mean(X.Age) , inplace=True)
X.Salary.fillna(value=np.mean(X.Salary) , inplace=True)

In [9]:
print(X)
print('\n\n')
print(X1)

   Country        Age        Salary
0   France  44.000000  72000.000000
1    Spain  27.000000  48000.000000
2  Germany  30.000000  54000.000000
3    Spain  38.000000  61000.000000
4  Germany  40.000000  63777.777778
5   France  35.000000  58000.000000
6    Spain  38.777778  52000.000000
7   France  48.000000  79000.000000
8  Germany  50.000000  83000.000000
9   France  37.000000  67000.000000



[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

### Encoding Categorical data
#### Encoding independent variable

In [10]:
Lebcoder1 = LabelEncoder()
X1[:,0] = Lebcoder1.fit_transform(X1[:,0])
lebcoder = LabelEncoder()
X.Country = lebcoder.fit_transform(X.Country)

In [17]:
OHencoder1 = OneHotEncoder()

In [26]:
X1 = OHencoder1.fit_transform(X1).toarray()

In [29]:
OHencoder = OneHotEncoder()
X = OHencoder.fit_transform(X)

In [34]:
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [38]:
lablencoder_y1 = LabelEncoder()
y1 = lablencoder_y1.fit_transform(y1)